{namespace femanager=In2code\Femanager\ViewHelpers}
<f:layout name="Default" />

	User / New
		Available variables:
			{user}
			{allUserGroups}

<f:section name="main">
    <f:render partial="Misc/FlashMessages" arguments="{_all}" />
    <f:render partial="Misc/FormErrors" arguments="{object:User}" />

    <div class="femanager_edit">
        <f:if condition="{user}">
            <f:then>
                <f:form
                        name="user"
                        object="{user}"
                        action="update"
                        enctype="multipart/form-data"
                        additionalAttributes="{data-femanager-plugin:data.uid}"
                        class="form-horizontal {f:if(condition:'{settings.edit.validation._enable.client}',then:'feManagerValidation',else:'')}">
                    <h2 class="mt-3">
                        <f:translate key="titleUpdateProfile" />
                    </h2>

                    <h3>Persönliche Informationen</h3>
                    <f:render partial="Fields/Username" arguments="{_all}" />

                    <h3>Passwort</h3>
                    <f:render partial="Fields/Password" arguments="{_all}" />


                    <f:render partial="Fields/SubmitUpdate" arguments="{_all}" />
                </f:form>
            </f:then>
            <f:else>
                <div class="femanager_note">
                    <f:translate key="notLoggedIn" />
                </div>
            </f:else>
        </f:if>
	</div>
</f:section>
