<footer>
    <div class="tent container">
        <div class="row" style="align-items: stretch; height: 100%;">
            <div class="col-12 col-sm-3">
                <div style="display: flex; height: 100%;flex-direction: column;justify-content: space-between;">
                    <f:render partial="Footer/Contact" />
                    <nav style="width: 100%;">
                        <f:render partial="Footer/Navigation" arguments="{nav : nav_left}" />
                    </nav>
                </div>
            </div>
            <div class="col-12 col-sm-3"></div>
            <div class="col-12 col-sm-3"></div>
            <div class="col-12 col-sm-3">
                <div style="display: flex; height: 100%; flex-direction: column-reverse;">
                    <nav style="width: 100%;">
                        <f:render partial="Footer/Navigation" arguments="{nav : nav_extern}" />
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>