<div class="container mb-2">
    <div class="logoContainer">
        <div class="logo my-3">
            <a href="/" title="Zur Startseite">
                <img src="/typo3conf/ext/bw_dpsg_design/Resources/Public/Images/logo.png" alt="Logo der Deutschen Pfadfinderschaft St. Georg">
            </a>
        </div>
        <div class="links text-right">
            <nav class="headerNavigation">
                <f:cObject typoscriptObjectPath="lib.nav.header" />
            </nav>
            <f:render partial="Header/SocialMedia" />
        </div>
    </div>
</div>