<div class="container mb-2">
    <div class="logoContainer" style="position: relative;">
        <div class="logo" style="padding: 0.8em 0;">
            <a href="/" title="Zur Startseite">
                <img src="/typo3conf/ext/bw_dpsg_design/Resources/Public/Images/logo.png" alt="Logo der Deutschen Pfadfinderschaft St. Georg" style="width: 200px;" />
            </a>
        </div>
        <nav class="navHeader">
            <f:cObject typoscriptObjectPath="lib.nav.header"></f:cObject>
            <f:cObject typoscriptObjectPath="lib.nav.socialmedia"></f:cObject>
        </nav>
    </div>
</div>