<nav class="main navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a href="/" style="margin-right: 15px;">
            <f:image src="EXT:bw_dpsg_design/Resources/Public/Images/lilie.png" alt="Lilie der Deutschen Pfadfinderschaft St. Georg" title="Zur Startseite" style="" width="30" height="30" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <f:cObject typoscriptObjectPath="lib.nav.main"></f:cObject>
            </ul>
        </div>
    </div>
</nav>