<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DPSG Stamm Sugambrer Bonn Beuel</title>
</head>
<body>
	<div id="fullPage">
        <header id="header">
            <f:render partial="Header" />
		    <f:render partial="Header/Navigation" arguments="{nav_main : nav_main}" />
        </header>
		<f:render section="Main"></f:render>
		<f:render partial="Footer" arguments="{nav_left : nav_footer_left, nav_extern : nav_footer_extern}"></f:render>
	</div>
</body>
</html>