@font-face {
  font-family: 'TheSerif';
  src: url('/typo3conf/ext/bw_dpsg_design/Resources/Public/Fonts/TheSerif/TheSerifPlain.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/typo3conf/ext/bw_dpsg_design/Resources/Public/Fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype');
}