@import "fonts";

// Bootstrap
$body-bg: #f0f4f6;
$body-color: #1a1a1a;
$font-family-sans-serif: Helvetica, Arial, sans-serif;
$primary: #003056;
$theme-colors: (
  "woelflinge": #FF6400,
  "jungpfadfinder": #2F53A7,
  "pfadfinder": #00823C,
  "rover": #CC1F2F,
  "leiterrunde": #B2B8AE,
);
@import "../../ThirdParty/bootstrap/scss/bootstrap.scss";

// Own Style
@import "header";
@import "subnav";
@import "footer";



body, html {
  height: 100%;
}

#fullPage {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;

  .content {
    flex-grow: 1;
  }
}