
/* Hauptnavigation */
nav.main {
    background-color: #003056 !important;
}
nav.main .dropdown-menu > .nav-link {
	color: #003056 !important;
}


/* Unternavigation */


/* Content */
.content {
	padding: 20px 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'TheSerif' !important;
}

/* Login und Registrierung */
.tx-srfeuserregister-pi1-text, .tx-srfeuserregister-pi1-password {
    padding: .5rem .75rem !important;
}

/* Flexslider */
.flexslider {
    border : 0 !important;
}
.flexslider .caption-link a, .flexslider .caption-link a:hover {
    color: #FFF !important;
    text-decoration: none;
}

.flexslider .slides li .img {
    height: 30vh;
}
@media (min-width: 768px) {
    .flexslider .slides li .img {
        height: 60vh;
    }
}


/* Filelist */
@media only screen and (min-width: 768px) {
    .frame-layout-1 ul.ce-uploads {
        margin: -10px;
    }
    .frame-layout-1 ul.ce-uploads li {
        display: inline-block;
        width: 50%;
        padding: 10px;
    }
}

/* Powermail */
.tx-powermail .checkbox-list .checkbox-container {
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
}
.tx-powermail .checkbox-list label {
    line-height: 1rem;
}