<f:layout name="Default"></f:layout>

<f:section name="Main">
    <div class="container content">


		<f:comment>
			<f:cObject typoscriptObjectPath="lib.breadcrumb"></f:cObject>
		</f:comment>

		<f:if condition="{nav_sub}">
			<f:then>
				<div class="row">
					<nav class="col-sm-3 sub">
						<f:render partial="Subnavigation" arguments="{nav : nav_sub}" />
					</nav>
					<main class="col-sm-9">
						<f:render partial="Breadcrum" arguments="{breadcrum : breadcrum}" />
						<f:format.raw>{main}</f:format.raw>
					</main>
				</div>
			</f:then>
			<f:else>
				<main>
					<f:render partial="Breadcrum" arguments="{breadcrum : breadcrum}" />
					<f:format.raw>{main}</f:format.raw>
				</main>
			</f:else>
		</f:if>
	</div>

</f:section>